.navbar {
  background-color: navy; /* Light Pink */
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: navy;
}

/* Offcanvas sidebar styles */


/* Main content styles */
.main {
  padding-top: 50px; /* Adjust based on your navbar height */
}

/* Footer styles */
footer {
  color: black;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Arial', sans-serif;
}